</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/administracion">Admin</a></li>
            </ul>
        </nav>
    </header>