<%- include('partials/head') %>

    <%- include('partials/header') %>
        <h1>Esta es la pagina de contacto</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos error natus corporis voluptas quo perspiciatis
            a
            atque ipsa fuga porro modi temporibus eligendi earum ex, vero placeat quibusdam laborum? Ducimus suscipit et
            incidunt veritatis odio quidem velit, rerum, eum similique maiores qui voluptate iste nemo nulla! Optio
            repellendus tenetur ullam.
        </p>

        <%- include('partials/footer') %>